@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Karla", sans-serif;
  @apply text-light-text dark:text-dark-text;
}

html {
  width: 100%;
  @apply bg-light dark:bg-dark;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  @apply bg-light dark:bg-dark;
}
#__next {
  width: 100%;
  height: 100%;
}
h1 {
  @apply text-4xl text-light-text dark:text-dark-text;
}
h2,
i {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
p {
  @apply text-lg;
}
a,
span,
label {
  @apply text-base;
}
ul {
  @apply list-disc my-2 ml-5;
}
a {
  @apply text-secondary;
}
