@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Karla", sans-serif;
}

html {
  width: 100%;
  @apply bg-light dark:bg-dark;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
}
body {
  min-height: 100vh;
  @apply bg-light dark:bg-dark;
  @apply text-light-text dark:text-dark-text;
}
#__next {
  width: 100%;
  height: 100%;
}
h1 {
  @apply text-4xl;
}
h2,
i {
  @apply text-2xl;
}
h3 {
  @apply text-xl;
}
p {
  @apply text-lg;
}
a,
span,
label {
  @apply text-base;
}
a {
  @apply text-secondary underline transition;
}
.blog-content {
  h1 {
    @apply text-5xl text-primary font-bold;
  }
  h2 {
    @apply text-4xl text-primary;
  }
  h3 {
    @apply text-3xl text-primary;
  }
  h4 {
    @apply text-2xl text-primary;
  }
  h5 {
    @apply text-xl text-primary;
  }
  h6 {
    @apply text-lg text-primary;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-4;
  }
  ul {
    @apply list-disc ml-5;
    li::marker {
      @apply text-secondary/50;
    }
  }
  p {
    @apply text-base w-full;
  }
  a {
    @apply text-secondary transition underline;
  }
  blockquote {
    @apply bg-off-light my-5 rounded-lg dark:bg-off-dark p-4 flex gap-2 items-center;
    &::before {
      content: ">";
      @apply text-3xl;
    }
  }
  tr {
    @apply bg-off-light dark:bg-off-dark;
  }

  th,
  td {
    padding: 6px 13px;
  }
  th {
    @apply border-b border-b-secondary;
  }
  table tr:nth-child(2n) {
    @apply bg-light dark:bg-dark;
  }
  .TOC {
    transition: height 2s;

    .list {
      transition: all 0.2s;
      opacity: 0;
      position: absolute;
      z-index: 1;
      visibility: hidden;
      transform: translateY(-50px);
      transform-origin: top;
      left: 0px;
    }
    .show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
    ul {
      position: relative;
      list-style: none;
      li {
        padding: 0.2rem 0px;
        a {
          text-decoration: none;
          @apply hover:underline text-dark dark:text-light;
        }
      }
    }
    ul::before {
      content: "";
      width: 2px;
      height: 100%;
      @apply bg-secondary/50;
      position: absolute;
      left: -1rem;
    }
  }
}
footer {
  a {
    text-decoration: underline;
    @apply transition hover:text-secondary/50;
  }
}
